<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy.bills.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="bills"
        android:name="com.hy.bills.MainApplication"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity android:name=".StartActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserActivity" />
        <activity android:name=".AccountBookActivity" />
    </application>

</manifest>